<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>TypeMyType</string>
	<key>developerURL</key>
	<string>http://typemytype.com</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>main.py</string>
	<key>name</key>
	<string>Batch</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>2</string>
	<key>timeStamp</key>
	<real>1373965736.141633</real>
	<key>version</key>
	<string>1.9.11</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>typemytype/batchRoboFontExtension</string>
		<key>summary</key>
		<string>Batch generate fonts to various formats.</string>
	</dict>
</dict>
</plist>
